@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9.8% 0.084 285.8);
  
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0.084 285.8);
  
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9.8% 0.084 285.8);
  
  --color-primary: oklch(11.2% 0.047 285.8);
  --color-primary-foreground: oklch(98% 0.004 285.8);
  
  --color-secondary: oklch(96.1% 0.004 285.8);
  --color-secondary-foreground: oklch(11.2% 0.047 285.8);
  
  --color-muted: oklch(96.1% 0.004 285.8);
  --color-muted-foreground: oklch(46.9% 0.016 285.8);
  
  --color-accent: oklch(96.1% 0.004 285.8);
  --color-accent-foreground: oklch(11.2% 0.047 285.8);
  
  --color-destructive: oklch(60.2% 0.184 29.2);
  --color-destructive-foreground: oklch(98% 0.004 285.8);
  
  --color-border: oklch(91.4% 0.008 285.8);
  --color-input: oklch(91.4% 0.008 285.8);
  --color-ring: oklch(9.8% 0.084 285.8);
  
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9.8% 0.084 285.8);
    --color-foreground: oklch(98% 0.004 285.8);
    
    --color-card: oklch(9.8% 0.084 285.8);
    --color-card-foreground: oklch(98% 0.004 285.8);
    
    --color-popover: oklch(9.8% 0.084 285.8);
    --color-popover-foreground: oklch(98% 0.004 285.8);
    
    --color-primary: oklch(98% 0.004 285.8);
    --color-primary-foreground: oklch(11.2% 0.047 285.8);
    
    --color-secondary: oklch(17.5% 0.033 285.8);
    --color-secondary-foreground: oklch(98% 0.004 285.8);
    
    --color-muted: oklch(17.5% 0.033 285.8);
    --color-muted-foreground: oklch(65.1% 0.02 285.8);
    
    --color-accent: oklch(17.5% 0.033 285.8);
    --color-accent-foreground: oklch(98% 0.004 285.8);
    
    --color-destructive: oklch(30.6% 0.128 29.2);
    --color-destructive-foreground: oklch(98% 0.004 285.8);
    
    --color-border: oklch(17.5% 0.033 285.8);
    --color-input: oklch(17.5% 0.033 285.8);
    --color-ring: oklch(83.9% 0.027 285.8);
  }
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}